@import './../../main-page.component.scss';
@import './../../../../styles.scss';


.user-tag-container {
    // display: flex;
    // flex-direction: column;
    position: relative;
    
    .search-input-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        border: 1px solid $cpt-line;
        border-radius: 30px;
        padding: 7.5px 20px;

        input {
            flex: 1;
            border: 0;
            outline: none;
            height: 40px;
        }
    }


    .searched-users-list-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: white;
        border: 1px solid $cpt-line;
        border-radius: 0 20px 20px 20px;
        max-height: 246px;
        margin-top: -8px;
        padding: 20px 21px;
        position: absolute;
        left: 22px;
        overflow-y: scroll;
        max-width: 335px;
        z-index: 10100;
    }
}

.user-tag {
    display: flex;
    align-items: center;
    gap: 13px;
    background-color: $cpt-bg;
    border-radius: 35px;
    padding: 3px 20px;

    img {
        height: 34px;
        width: 34px;
        border-radius: 50%
    }

    span {
        @include font18(400);
        display: flex;
        align-items: center;
        color: black;
        .close-icon {
            background-image: url('./../../../../assets/img/icons/close_24.svg');
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;
            padding-left: 35px;

            &:hover {
                background-image: url('./../../../../assets/img/icons/close_pur_24.svg');
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}