<div class="user-tag-container">
  <div class="search-input-container">
    @for(newMember of selectedMembers; track newMember.id; let index = $index) {
    <div class="user-tag">
      <img src="{{ newMember.photoURL }}" alt="" />
      <span
        >{{ newMember.name }}
        <div class="close-icon" (click)="removeUser(index)"></div
      ></span>
    </div>
    }
    <input
      id="search-user-input"
      type="text"
      [(ngModel)]="searchText"
      placeholder="Name eingeben"
    />
  </div>
  @if(searchText) {
  <div class="searched-users-list-container">
    @for(user of this.userService.users | inputFilter : searchText; track user)
    {
    <app-workspace-user-profil
      [userName]="user.name"
      [userImage]="user.photoURL"
      (click)="addUserAsMember(user)"
    ></app-workspace-user-profil
    >} @empty {
    <p>Niemand gefunden</p>
    }
  </div>
  } @if(userIsAlreadyAdded === true) {
  <span class="hint">User ist bereits hinzugefügt</span>
  } @if(userIsAlreadyMember === true) {
  <span class="hint">User ist bereits Mitglied</span>
  }
</div>
