@import "./../../app/starting-page/starting-page.component.scss";

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    padding: 40px 53px;
    box-shadow: 0px 2px 10px 0px #00000014;
    align-items: flex-end !important
}

.arrow_back {
    top: 45px;
    left: 20px;
}