<div class="main-section">
    <header>
        <div class="logo"><img src="./assets/img/Logo_full.svg" alt=""></div>
       
    </header>

    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <h1>Passwort zurücksetzen</h1>
        <label for="password" class="inputField password"
            [class.borderPur]="myForm.get('password')?.touched && passwordError">
            <div class="icon"></div>
            <input formControlName="password" id="password" type="password" placeholder="Password">
        </label>
        <div class="error-container">
            <span class="error-message" *ngIf="myForm.get('password')?.touched && passwordError">{{ passwordError
                }}</span>
        </div>


        <label for="passwordRepeat" class="inputField password" [class.borderPur]="myForm.get('password')?.touched && passwordError">
            <div class="icon"></div>
            <input formControlName="passwordRepeat" id="passwordRepeat" type="password" placeholder="Password" (blur)="validatePasswordRepeat()">
          </label>
          <div class="error-container">
            <span class="error-message" *ngIf="myForm.get('passwordRepeat')?.touched && passwordRepeatError">{{ passwordRepeatError }}</span>
          </div>

          <div class="buttons-container">
            <!-- Der Button ist deaktiviert, wenn das Formular ungültig ist -->
            <button class="primaryButton" type="submit" [disabled]="myForm.invalid || this.passwordRepeatError">Passwort ändern</button>
        </div>

        <div (click)="this.loginService.navigateToLogin()" class="arrow_back"></div>
    </form>
    <footer>
        <a routerLink='/imprint/'>Impressum</a>
        <a routerLink='/privacy-policy'>Datenschutz</a>
    </footer>

</div>