@import './../main-page.component.scss';

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 30px 32px 30px;

    .thread-title {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 5px;
        width: calc(100% - 40px);

        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 32.74px;
        }

        span {
            background-image: url('./../../../assets/img/icons/tag_thin_pur.svg');
            background-position: 0px 50%;
            background-repeat: no-repeat;
            color: $cpt-purple-2;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.1px;
            padding-left: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 82px);
        }
    }

    .close-icon {
        height: 40px;
        width: 40px;
        background-image: url('./../../../assets/img/icons/close.svg');
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
            background-image: url('./../../../assets/img/icons/close_pur.svg');
            cursor: pointer;
        }
    }

    @media(max-width: 544px) {
        padding: 10px 16px;
    }
}

.thread-field {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding-top: 12px;

    .thread-answers-sep {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 30px;
        margin: 8px;

        p {
            color: $cpt-line;
        }
        div {
            background-color: $cpt-line;
            flex: 1;
            height: 1px;
            width: 100%;
        }

        @media (max-width: 544px) {
            padding: 0 8px;
        }
    }
}