<div class="title-container">
  <!-- hier später Variable für channel einfügen -->
  <span class="thread-title"
    ><h3>Thread</h3>
    <span>Entwicklerteam</span></span
  >
  <div class="close-icon" (click)="onCloseThread()"></div>
</div>
<div class="hr-line"></div>
<div class="thread-field">
  <!-- <app-message-left></app-message-left>
  <div class="thread-answers-sep">
    <p>2 Antworten</p>
    <div></div>
  </div> -->
  @if(this.channelService.selectedChannelChats[this.channelService.selChatIndex])
  { @for(message of
  this.channelService.selectedChannelChats[this.channelService.selChatIndex].allMessages;
  track index; let index = $index) {
  @if(this.channelService.selectedChannelChats[ this.channelService.selChatIndex
  ].allMessages[index].member !== this.authService.uid) {
  <app-message-left
    [member]="
      this.userService.users[
        this.userService.getUsersData(
          this.channelService.selectedChannelChats[
            this.channelService.selChatIndex
          ].allMessages[index].member
        )
      ].name
    "
    [message]="
      this.channelService.selectedChannelChats[this.channelService.selChatIndex]
        .allMessages[index].message
    "
    [memberImg]="
      this.userService.users[
        this.userService.getUsersData(
          this.channelService.selectedChannelChats[
            this.channelService.selChatIndex
          ].allMessages[index].member
        )
      ].photoURL
    "
    [memberRef]="
      this.channelService.selectedChannelChats[this.channelService.selChatIndex]
        .allMessages[index].member
    "
  ></app-message-left
  >} @else {
  <app-message-right
    [member]="
      this.userService.users[
        this.userService.getUsersData(
          this.channelService.selectedChannelChats[
            this.channelService.selChatIndex
          ].allMessages[index].member
        )
      ].name
    "
    [message]="
      this.channelService.selectedChannelChats[this.channelService.selChatIndex]
        .allMessages[index].message
    "
    [memberImg]="
      this.userService.users[
        this.userService.getUsersData(
          this.channelService.selectedChannelChats[
            this.channelService.selChatIndex
          ].allMessages[index].member
        )
      ].photoURL
    "
    [memberRef]="
      this.channelService.selectedChannelChats[this.channelService.selChatIndex]
        .allMessages[index].member
    "
  ></app-message-right>
  }}}
</div>
<app-textarea-main-page></app-textarea-main-page>
