@import './../../../styles.scss';
@import './../main-page.component.scss';

.title-container {
    padding: 32px 30px 0 30px;

    .title-sgl-user-chat {
        display: flex;
        padding: 0 0 16px 0;

        @media (max-width: 544px) {
            padding: 0;
        }
    }

    @media (max-width: 544px) {
        padding: 10px 16px;
    }
}

.chat-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 12px 0 0 0;

    .new-chat-container {
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .new-chat-user {
            display: flex;
            align-items: end;
            gap: 25px;

            img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }

            h3 {
                &:hover {
                    color: $cpt-purple-3;
                }
            }
        }

        p {
            color: $cpt-font-gray;
            font-size: 20px;
            font-weight: 400;
            line-height: 27.28px;
            overflow-wrap: break-word;

            span {
                color: $cpt-purple-3;

                &:hover {
                    cursor: pointer;
                    overflow-wrap: break-word;
                }
            }
        }

        @media (max-width: 544px) {
            padding: 10px 16px;
        }
    }

}
