<div class="title-container">
  <div class="title-sgl-user-chat">
    <!-- <app-workspace-user-profil
      [userImage]="chatService.currentChat.photoURL"
      [userName]="chatService.currentChat.name"
      (click)="openShowProfilDialog()"
      [ownChat]="chatService.currentChat.ownChat"
    ></app-workspace-user-profil> -->
    @if(chatService.currentChat.members.length === 2) {
    <app-workspace-user-profil
      [userName]="
        this.userService.users[
          this.userService.getUsersData(
            this.userService.getPartnerId(chatService.currentChat.members)
          )
        ].name
      "
      [userImage]="
        this.userService.users[
          this.userService.getUsersData(
            this.userService.getPartnerId(chatService.currentChat.members)
          )
        ].photoURL
      "
      [userId]="this.userService.getPartnerId(chatService.currentChat.members)"
    ></app-workspace-user-profil
    >} @else if(chatService.currentChat.members.length === 1) {
    <app-workspace-user-profil
      [userName]="
        this.userService.users[
          this.userService.getUsersData(chatService.currentChat.members[0])
        ].name + ' (Du)'
      "
      [userImage]="
        this.userService.users[
          this.userService.getUsersData(chatService.currentChat.members[0])
        ].photoURL
      "
      [userId]="chatService.currentChat.members[0]"
    ></app-workspace-user-profil>
    }
  </div>
</div>

<div class="hr-line"></div>

<div class="chat-field" #privateChatsContainer>
  @if(this.chatService.messages.length == 0) {
  <div class="new-chat-container">
    <div class="new-chat-user">
      @if(chatService.currentChat.members.length === 2) {
      <img
        [src]="
          this.userService.users[
            this.userService.getUsersData(
              this.userService.getPartnerId(chatService.currentChat.members)
            )
          ].photoURL
        "
        alt=""
        (click)="
          openShowProfilDialog(
            this.userService.users[
              this.userService.getUsersData(
                this.userService.getPartnerId(chatService.currentChat.members)
              )
            ].id
          )
        "
      />
      <h3
        (click)="
          openShowProfilDialog(
            this.userService.users[
              this.userService.getUsersData(
                this.userService.getPartnerId(chatService.currentChat.members)
              )
            ].id
          )
        "
      >
        {{
          this.userService.users[
            this.userService.getUsersData(
              this.userService.getPartnerId(chatService.currentChat.members)
            )
          ].name
        }}
      </h3>
      } @else if(chatService.currentChat.members.length === 1) {
      <img
        [src]="
          this.userService.users[
            this.userService.getUsersData(chatService.currentChat.members[0])
          ].photoURL
        "
        alt=""
        (click)="openShowProfilDialog(chatService.currentChat.members[0])"
      />
      <h3 (click)="openShowProfilDialog(chatService.currentChat.members[0])">
        {{
          this.userService.users[
            this.userService.getUsersData(chatService.currentChat.members[0])
          ].name + " (Du)"
        }}
      </h3>
      }
    </div>
    @if(chatService.currentChat.members.length === 2){
    <p>
      Diese Unterhaltung findet nur zwischen
      <span
        (click)="
          openShowProfilDialog(
            this.userService.users[
              this.userService.getUsersData(
                this.userService.getPartnerId(chatService.currentChat.members)
              )
            ].id
          )
        "
        >&#64;{{
          this.userService.users[
            this.userService.getUsersData(
              this.userService.getPartnerId(chatService.currentChat.members)
            )
          ].name
        }} </span
      >und dir statt.
    </p>
    } @else if(chatService.currentChat.members.length === 1){
    <p>
      Dieser Raum ist nur für dich da. Mache dir Notizen, liste deine To-dos auf
      oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne
      Dinge mit dir selbst besprechen.
    </p>
    }
  </div>
  } @else { @for(message of this.chatService.messages; track index; let index =
  $index; let last = $last) {
  <!-- Date logic -->
  <!-- Hier besser mit ID arbeiten!
  message.messageId === this.chatService.messages[0].messageId -->
  @if(message.timestamp === this.chatService.messages[0].timestamp ||
  this.channelService.getDate(this.chatService.messages[index - 1].timestamp)
  !== this.channelService.getDate(message.timestamp)) {
  @if(this.channelService.isToday(message.timestamp)) {
  <app-time-separator [forDate]="'Heute'"></app-time-separator>
  } @else {
  <app-time-separator
    [forDate]="this.channelService.getDate(message.timestamp)"
  ></app-time-separator>
  }}

  <!-- message left or right logic -->
  @if(message.member !== this.authService.uid) { @if(last) {
  <app-message-left
    (messageLoaded)="scrollToBottom()"
    [member]="
      this.userService.users[this.userService.getUsersData(message.member)].name
    "
    [message]="message.message"
    [memberImg]="
      this.userService.users[this.userService.getUsersData(message.member)]
        .photoURL
    "
    [memberRef]="message.member"
    [time]="this.channelService.getTime(message.timestamp)"
    [onPrivateChat]="true"
    [messageIndex]="index"
    [sortedReactions]="this.channelService.sortSameReactions(message.reactions)"
    [uploadedFile]="message.uploadedFile"
  ></app-message-left
  >} @else {
  <app-message-left
    [member]="
      this.userService.users[this.userService.getUsersData(message.member)].name
    "
    [message]="message.message"
    [memberImg]="
      this.userService.users[this.userService.getUsersData(message.member)]
        .photoURL
    "
    [memberRef]="message.member"
    [time]="this.channelService.getTime(message.timestamp)"
    [onPrivateChat]="true"
    [messageIndex]="index"
    [sortedReactions]="this.channelService.sortSameReactions(message.reactions)"
    [uploadedFile]="message.uploadedFile"
  ></app-message-left>
  } } @else { @if(last) {
  <app-message-right
    (messageLoaded)="scrollToBottom()"
    [member]="
      this.userService.users[this.userService.getUsersData(message.member)].name
    "
    [message]="message.message"
    [memberImg]="
      this.userService.users[this.userService.getUsersData(message.member)]
        .photoURL
    "
    [memberRef]="message.member"
    [time]="this.channelService.getTime(message.timestamp)"
    [onPrivateChat]="true"
    [messageIndex]="index"
    [sortedReactions]="this.channelService.sortSameReactions(message.reactions)"
    [uploadedFile]="message.uploadedFile"
  ></app-message-right
  >} @else {
  <app-message-right
    [member]="
      this.userService.users[this.userService.getUsersData(message.member)].name
    "
    [message]="message.message"
    [memberImg]="
      this.userService.users[this.userService.getUsersData(message.member)]
        .photoURL
    "
    [memberRef]="message.member"
    [time]="this.channelService.getTime(message.timestamp)"
    [onPrivateChat]="true"
    [messageIndex]="index"
    [sortedReactions]="this.channelService.sortSameReactions(message.reactions)"
    [uploadedFile]="message.uploadedFile"
  ></app-message-right>
  } } } }
</div>

<app-textarea-main-page
  [onPrivatTextarea]="privatTextarea"
  (TextfieldStatus)="setTextfieldStatus($event)"
  [textfieldOnUploadChat]="textfieldOnUpload"
></app-textarea-main-page>
