<div class="edit-msg-container">
  <form (ngSubmit)="updateMessage(messageForm)" #messageForm="ngForm">
    <textarea
      id="message-field"
      [(ngModel)]="message"
      name="message"
      id=""
      rows="4"
      placeholder="Nachricht an ..."
      minlength="1"
    ></textarea>
    <div class="edit-msg-btn-container">
      <div class="reaction-icon" id="reaction-icons-wrapper">
        <div class="reaction-icon-emoji" [matMenuTriggerFor]="aboveMenu"></div>
        <mat-menu #aboveMenu="matMenu" yPosition="above" xPosition="before">
          <emoji-mart
            (emojiClick)="addEmoji($event)"
            emoji="point_up"
            [enableSearch]="false"
          ></emoji-mart>
        </mat-menu>
      </div>
      <div class="right-btn-container">
        <button (click)="cancleUpdateMsg($event)">Abbrechen</button>
        <input class="save-btn" type="submit" value="Speichern" />
      </div>
    </div>
  </form>
</div>
