<div class="edit-msg-container">
  <form (ngSubmit)="updateMessage(messageForm)" #messageForm="ngForm">
    <textarea
      id="message-field"
      [(ngModel)]="message"
      name="message"
      id=""
      rows="4"
      placeholder="Nachricht an ..."
      minlength="1"
    ></textarea>
    <div class="uploaded-files">
      @if(uploadedFile[0]) {
      <div class="file">
        <a href="{{ uploadedFile[1] }}" target="_blank">{{
          uploadedFile[0]
        }}</a>
        <div (click)="deleteFile()" class="delete-icon"></div>
      </div>
      }
    </div>
    <div class="edit-msg-btn-container">
      <div class="reaction-icon" id="reaction-icons-wrapper">
        <div class="reaction-icon-emoji" [matMenuTriggerFor]="aboveMenu"></div>
        <mat-menu #aboveMenu="matMenu" yPosition="above" xPosition="before">
          <emoji-mart
            (emojiClick)="addEmoji($event)"
            emoji="point_up"
            [enableSearch]="false"
          ></emoji-mart>
        </mat-menu>
      </div>
      <div class="right-btn-container">
        @if(onChannelBoard === true) {
        <button (click)="cancleUpdateMsg($event)">Abbrechen</button>} @else {
        <button><div class="close-icon"></div></button>
        }
        <input class="save-btn" type="submit" value="Speichern" />
      </div>
    </div>
  </form>
</div>
<!-- Warum einmal Abbrechen mit close Funktion und einmal nur x? -->
<!-- für Channel Board mit Abbrechen und für Thread Board mit X, allerdings auch für private Chat und sieht auch nicht so gut aus! -->
