<form>
    <h1>Anmeldung</h1>
    <p class="formDescription">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>


    <label for="email" class="inputField email">
        <div class="icon"></div>
        <input class="input" id="email" type="text" placeholder="beispielname@email.com">
    </label>

    <label for="password" class="inputField password">
        <div class="icon"></div>
        <input id="password" type="text" placeholder="password">
    </label>
    <span>Passwort vergessen?</span>

    <div>ODER</div>
    <button>Anmeldung mit Google</button>
    <button type="submit">Anmelden</button>
    <button>Gäste-login</button>
</form>