

<form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit($event)">
    <h1>Konto erstellen</h1>
    <p class="formDescription">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

    <label for="name" class="inputField name" [class.borderPur]="myForm.get('name')?.touched && nameError">
        <div class="icon"></div>
        <input formControlName="name" class="input" id="name" type="text" placeholder="Name und Nachname">
    </label>
    <div class="error-container">
        <span class="error-message" *ngIf="myForm.get('name')?.touched && nameError">{{ nameError }}</span>
    </div>

    <label for="email" class="inputField email" [class.borderPur]="myForm.get('email')?.touched && emailError">
        <div class="icon"></div>
        <input formControlName="email" class="input" id="email" type="text" placeholder="beispielname@email.com">
    </label>
    <div class="error-container" *ngIf="!authService.registerError">
        <span class="error-message" *ngIf="myForm.get('email')?.touched && emailError">{{ emailError }}</span>
    </div>
    <div class="error-container" *ngIf="authService.registerError">
        <span class="error-message">{{ authService.registerError }}</span>
    </div>

    <label for="password" class="inputField password"
        [class.borderPur]="myForm.get('password')?.touched && passwordError">
        <div class="icon"></div>
        <input formControlName="password" id="password" type="text" placeholder="password">
    </label>
    <div class="error-container">
        <span class="error-message" *ngIf="myForm.get('password')?.touched && passwordError">{{ passwordError }}</span>
    </div>

    <div class="buttons-container">
        <button class="primaryButton" type="submit" [disabled]="myForm.invalid">Anmelden</button>
    </div>

    <div (click)="authService.toggleSignUp()" class="arrow_back"></div>
</form>