<div class="dialog-content">
  <div class="dialog-title">
    <div class="title-channel-chat">
      <h3>Entwicklerteam</h3>
    </div>
    <div class="close-icon" mat-dialog-close></div>
  </div>
  <mat-dialog-content class="dialog-content">
    <label for="channelName">Channel-Name</label
    ><input
      type="text"
      name=""
      id="channelName"
      placeholder="# z.B. Kooperationsprojekte"
    />
    <label for="description">Beschreibung <span>(optional)</span></label
    ><input
      type="text"
      name=""
      id="description"
      placeholder="Dein Text hier"
      required
    />
    <hr />
    <h5>Erstellt von</h5>
    <h3>Noah Braun</h3>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button>Channel verlassen</button>
  </mat-dialog-actions>
</div>
