@import './../../main-page.component.scss';
@import './../../../../styles.scss';
@import './../dialog-add-channel/dialog-add-channel.component.scss';


.title-channel-chat {
    background-image: url('./../../../../assets/img/icons/tag_big.svg');
    background-repeat: no-repeat;
    background-position: 0px 50%;
    padding-left: 40px;
}

mat-dialog-content {
    .label-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            margin-right: 30px;
            @include font18(600);
            color: $cpt-purple-3;

            &:hover {
                cursor: pointer;
            }
        }
    }

    hr {
        border: none;
        border-top: 1px solid $cpt-line;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h5 {
        color: black;
    }
    h3 {
        color: $cpt-purple-3;
    }
}


.flx-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.changeStatus {
    border: 1px solid $cpt-line;
    border-radius: 20px;
    padding: 20px;
}