@import './../../main-page.component.scss';
@import './../../../../styles.scss';
@import './../dialog-add-channel/dialog-add-channel.component.scss';


.title-channel-chat {
    background-image: url('./../../../../assets/img/icons/tag_big.svg');
    background-repeat: no-repeat;
    background-position: 0px 50%;
    padding-left: 40px;
    width: calc(100% - 40px);

    h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @media (max-width: 544px) {
        max-width: 350px;
    }

    @media (max-width: 432px) {
        max-width: 234px;
    }
}

mat-dialog-content {
    .label-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 180px;

        span {
            margin-right: 30px;
            @include font18(600);
            color: $cpt-purple-3;

            &:hover {
                cursor: pointer;
            }

            @media (max-width: 544px) {
                display: none;
            }
        }

        .edit-icon, .save-icon {
            background-repeat: no-repeat;
            background-position: center;
            height: 30px;
            width: 30px;

            @media (min-width: 545px) {
                display: none;
            }
        }

        .edit-icon {
            background-image: url(./../../../../assets/img/icons/edit_round.svg);

            &:hover {
                background-image: url(./../../../../assets/img/icons/edit_round_hov.svg);
            }
        }

        .save-icon {
            background-image: url(./../../../../assets/img/icons/check_circle.svg);

            &:hover {
                 background-image: url(./../../../../assets/img/icons/check_circle_pur.svg);
            }
        }
    }

    hr {
        border: none;
        border-top: 1px solid $cpt-line;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h5 {
        color: black;
    }
    h3 {
        color: $cpt-purple-3;
    }

    p {
        overflow-wrap: break-word;
    }
}


.flx-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.changeStatus {
    border: 1px solid $cpt-line;
    border-radius: 20px;
    padding: 20px;
}