@import './../../../styles.scss';
@import './../main-page.component.scss';

.title-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 45px 20px 45px;

    @media (max-width: 544px) {
        padding: 20px 16px 7px 16px;

        h3 {
            @include font20(700);
        }
    }
}


.chat-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    // justify-content: end;
    padding: 12px 0 0 0;
    overflow-y: scroll;

    &:first-child {
        margin-top: auto !important;
    }

    // noch nicht beste Lösung!
}