<form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <h1>Passwort zurücksetzen</h1>
    <p class="formDescription">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    <label for="email" class="inputField email" [class.borderPur]="myForm.get('email')?.touched && emailError">
        <div class="icon"></div>
        <input formControlName="email" class="input" id="email" type="text" placeholder="beispielname@email.com">
    </label>
    <div class="error-container" *ngIf="!authService.registerError">
        <span class="error-message" *ngIf="myForm.get('email')?.touched && emailError">{{ emailError }}</span>
    </div>
    <p class="formDescriptionSub">Wir senden Ihnen eine E-Mail, über die 
        Sie Ihr Passwort ändern können.</p>
    <div class="buttons-container">
        <button class="primaryButton" type="submit" [disabled]="myForm.invalid">E-Mail senden</button>
    </div>
    <div (click)="this.loginService.toggleResetPasswort()" class="arrow_back"></div>
</form>