@import './../../../../styles.scss';

.chat-input-container {
    display: flex;
    position: relative;
    border: 1px solid $cpt-line;
    border-radius: 20px;
    padding-bottom: 56px;
    margin: 32px 30px;

    textarea {
        border-radius: 20px;
        border: none;
        font-family: $cpt-font;
        font-size: 18px;
        line-height: 24.55px;
        padding: 20px;
        resize: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .chat-icons-container {
        display: flex;
        justify-content: space-between;
        // box-sizing: border-box;
        position: absolute;
        bottom: 0;
        padding: 0 16px 16px 16px;
        width: 100%;

        .reaction-icons {
            display: flex;
            align-items: center;
            gap: 5px;

            .reaction-icon-plus, .reaction-icon-emoji, .reaction-icon-at {
                background-position: center;
                background-repeat: no-repeat;
                height: 40px;
                width: 40px;
            }

            .reaction-icon-plus {
                background-image: url('./../../../../assets/img/icons/add.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/add_pur_hov.svg');
                }
            }
            .reaction-icon-emoji {
                background-image: url('./../../../../assets/img/icons/sentiment_satisfied.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/sentiment_satisfied_hov.svg');
                }
            }
            .reaction-icon-at {
                background-image: url('./../../../../assets/img/icons/alternate_email.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/alternate_email_hov.svg');
                }
            }

            .sep-line {
                width: 1px;
                height: 40px;
                background-color: $cpt-line;
            }
        }

        .icon-send {
            background-color: white;
            background-image: url('./../../../../assets/img/icons/send.svg');
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            height: 40px;
            width: 40px;

            &:hover {
                background-image: url('./../../../../assets/img/icons/send_hov.svg');
            }
        }
    }
} 