@import './../../../../styles.scss';


.chat-input-container {
    display: flex;
    position: relative;
    border: 1px solid $cpt-line;
    border-radius: 20px;
    padding-bottom: 56px;
    margin: 24px 30px 30px 30px;

    form {
        width: 100%;
    }

    textarea {
        border-radius: 20px;
        border: none;
        font-family: $cpt-font;
        font-size: 18px;
        line-height: 24.55px;
        padding: 20px;
        resize: none;
        width: 100%;

        &:focus {
            outline: none;
        }
    }


    .chat-icons-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        padding: 0 16px 16px 16px;
        width: 100%;

        .reaction-icons {
            display: flex;
            align-items: center;
            gap: 5px;

            .reaction-icon-plus, .reaction-icon-emoji, .reaction-icon-at {
                background-position: center;
                background-repeat: no-repeat;
                height: 40px;
                width: 40px;
            }

            .reaction-icon-plus {
                background-image: url('./../../../../assets/img/icons/add.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/add_pur_hov.svg');
                }
            }
            .reaction-icon-emoji {
                background-image: url('./../../../../assets/img/icons/sentiment_satisfied.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/sentiment_satisfied_hov.svg');
                }
            }
            .reaction-icon-at {
                background-image: url('./../../../../assets/img/icons/alternate_email.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/alternate_email_hov.svg');
                }
            }

            .sep-line {
                width: 1px;
                height: 40px;
                background-color: $cpt-line;
            }
        }

        .icon-send {
            background-color: white;
            background-image: url('./../../../../assets/img/icons/send.svg');
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            height: 40px;
            width: 40px;

            &:hover {
                background-image: url('./../../../../assets/img/icons/send_hov.svg');
            }
        }
    }

    @media (max-width: 544px) {
        margin: 15px 16px 32px 16px;
    }
} 


.uploaded-files {
        display: flex;
        padding: 20px;
        max-width: fit-content;
        
        .file {
            display: flex;
            gap: 10px;
            background-color: $cpt-bg;
            border-radius: 50px;
            padding: 4px 12px;
            width: 100%;

            a {
                color: black;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (max-width: 544px) {
                    max-width: 324px;
                }

                @media (max-width: 432px) {
                    max-width: 188px;
                }
            }

            .delete-icon {
                background-image: url(./../../../../assets/img/icons/close_24.svg);
                background-position: center;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;

                &:hover {
                    background-image: url(./../../../../assets/img/icons/close_pur_24.svg);
                }
            }
        }
}


.dialog-window {
    border-radius: 30px 0px 30px 30px;
    border: none;
    outline: none;
    overflow: visible;
}