<div class="chat-input-container">
  <textarea
    id="message-field"
    [(ngModel)]="message.message"
    name=""
    id=""
    rows="4"
    placeholder="Nachricht an ..."
  ></textarea>
  <div class="chat-icons-container">
    <div class="reaction-icons">
      <div class="reaction-icon-plus"></div>
      <div class="sep-line"></div>
      <div class="reaction-icon-emoji"></div>
      <div class="reaction-icon-at"></div>
    </div>
    <div
      class="icon-send"
      (click)="sendMessage()"
      (keydown.enter)="sendMessage()"
    ></div>
  </div>
</div>
