@import './../../../../styles.scss';
@import './../../main-page.component.scss';

.workspace-user-container {
    display: flex;
    align-items: center;
    gap: 13px;
    border-radius: 35px;
    padding: 4px 15px;
    width: 100%;

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    h5 {
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        background-color: $cpt-bg;
        cursor: pointer;
    }
}