<div class="main-section">
    <div *ngIf="this.loginService.showLogin" class="neuHier">
        <p>Neu bei DABubble?</p>
        <p (click)="this.loginService.toggleSignUp()">Konto erstellen</p>
    </div>
    <app-login *ngIf="loginService.showLogin"></app-login>
    <app-signup *ngIf="loginService.showSignUp"></app-signup>
    <app-signuppicture *ngIf="loginService.showSignUpPicture"></app-signuppicture>
    <app-upload-form *ngIf="loginService.showSignUpPictureUpload"></app-upload-form>
    <app-forgot-password *ngIf="loginService.showResetPassword"></app-forgot-password>
    <footer>
        <a routerLink='/imprint/'>Impressum</a>
        <a routerLink='/privacy-policy'>Datenschutz</a>
    </footer>
<app-start-animation></app-start-animation>
</div>