<div class="main-section">
    <div class="logo"></div>
    <div class="neuHier"></div>
    <app-login *ngIf="authService.showLogin"></app-login>
    <app-signup *ngIf="authService.showSignUp"></app-signup>
    <app-signuppicture *ngIf="authService.showSignUpPicture"></app-signuppicture>
    <app-forgot-password *ngIf="authService.showResetPassword"></app-forgot-password>
    <footer>
        <a routerLink='/imprint/'>Impressum</a>
        <a routerLink='/privacy-policy'>Datenschutz</a>
    </footer>
</div>