@import "./../../styles.scss";

.neuHier {
    position: absolute;
    right: 75px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    p {
        font-size: 18px;

        &:nth-child(2) {
            color: $cpt-purple-2;
            cursor: pointer;

            @media (max-width: 768px) {
                height: 49px;
                background-color: white;
                border-radius: 25px;
                padding: 12px 25px;
                color: #444DF2;
                font-size: 18px;
                font-weight: 700;
                transition: all 100ms ease-out;
                border: 1px solid #9747FF;
                cursor: pointer;

                &:hover {
                    background-color: #535AF1;
                    color: white;
                    border: 1px solid transparent;
                }

                &:active {
                    background-color: #444DF2;
                    color: white;
                    border: 1px solid transparent;
                }
            }
        }
    }

    @media (max-width: 768px) {
        bottom: -150px;
        right: 50%;
        transform: translate(50%);
        justify-content: center;
        margin-bottom: 30px;
        align-items: center;
        width: 100%;
    }
}

.main-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 48px;
    background-color: $cpt-bg;
    min-height: 850px;
    height: 100vh;
    gap: 30px;
    max-width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 75px;
}

app-forgot-password,
app-login,
app-signup,
app-signuppicture,
app-upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    padding: clamp(10px, 5vh, 50px) clamp(20px, 5vw, 60px);
    box-shadow: 0px 2px 10px 0px #00000014;

    @media (max-width: 1250px) {
        margin-top: 8vh;
    }
}

app-login {
    padding: clamp(10px, 5vh, 50px) clamp(20px, 5vw, 60px);
    min-height: 650px;
    height: 90%;
}

app-login,
app-signup,
app-signuppicture {
    max-width: 606px;
}

app-forgot-password {
    max-width: 698px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    font-weight: 700;
    font-size: 46px;
    color: $cpt-purple-1;
    margin: 0;
    padding: 0;
    margin: clamp(15px, 2vh, 30px);
    margin-top: 0;
    text-align: center;
    line-height: clamp(49.68px, 5.2vh, 55.2px);

    @media (max-width: 1250px) {
        flex-wrap: wrap;
    }
}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: clamp(15px, 2vh, 30px);
    line-height: clamp(49.68px, 5.2vh, 55.2px);
}

.formDescription {
    font-size: 20px;
    width: 100%;
    margin-bottom: clamp(23px, 3vh, 46px);
    line-height: clamp(18px, 2vw, 24px);
    text-align: center;
}

.formDescriptionSub {
    font-size: 20px;
    margin-bottom: clamp(23px, 3vh, 46px);
    line-height: clamp(18px, 2vw, 24px);
    text-align: center;
    color: $cpt-font-gray
}

.inputField {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 60px;
    padding: clamp(10px, 1.5vw, 18px) clamp(16px, 2vw, 32px);
    background-color: $cpt-bg;
    border-radius: 100px;
    cursor: pointer;
    transition: all 100ms ease-in;

    @media (max-width: 768px) {
        gap: 15px
    }

    &:hover {
        border: 1px solid #686868;
    }

    &:focus-within {
        border: 1px solid #9747FF;
    }

    .icon {
        height: clamp(20px, 2.5vh, 24px);
        width: clamp(20px, 2.5vh, 24px);
        background-position: center;
        background-repeat: no-repeat;
    }

    input {
        height: clamp(20px, 2.5vh, 24px);
        border: unset;
        background-color: inherit;
        width: 80%;
        outline: none;

        &::placeholder {
            font-size: clamp(14px, 1.8vw, 18px);
            line-height: clamp(16.8px, 2.2vw, 21.6px);
            font-size: 18px;
        }

        &:hover {
            border: 1px solid $cpt-bg;
        }

        &[type="text"] {
            font-size: 18px;
        }
    }
}

.email {
    .icon {
        background-image: url('./../../assets/img/icons/mail.svg');
    }

    &:focus-within .icon {
        background-image: url('./../../assets/img/icons/mail_black.svg');
    }
}

.password {
    .icon {
        background-image: url('./../../assets/img/icons/lock.svg');
    }

    &:focus-within .icon {
        background-image: url('./../../assets/img/icons/lock_black.svg');
    }
}

.name {
    .icon {
        background-image: url('./../../assets/img/icons/person.svg');
    }

    &:focus-within .icon {
        background-image: url('./../../assets/img/icons/person_black.svg');
    }
}

.borderPur {
    border: 1px solid #535AF1;
}


.submitButtons {
    gap: clamp(15px, 1.8vw, 30px);
}

.error-container {
    height: clamp(20px, 5vh, 40px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: clamp(4px, 1vh, 6px);
}

.error-message {
    font-size: clamp(12px, 1.5vw, 14px);
    color: #ED1E79;
}

footer {
    display: flex;
    gap: clamp(23px, 5vw, 46px);
    a {
        color: $cpt-purple-2;
        cursor: pointer;
        text-decoration: none;
    }
}

.arrow_back {
    position: absolute;
    top: 0;
    left: -20px;
    height: clamp(30px, 5vh, 40px);
    width: clamp(30px, 5vh, 40px);
    background-image: url('./../../assets/img/icons/arrow_back.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 100ms ease-out;
    &:hover {
        background-image: url('./../../assets/img/icons/arrow_back_pur.svg');
        background-color: $cpt-bg;
        border-radius: 50px;
    }
}