<div class="dialog-content">
  <div class="dialog-title">
    @if(!editProfilOpen) {
    <h3>Profil</h3>
    } @if(editProfilOpen) {
    <h3>Dein Profil bearbeiten</h3>
    }
    <div class="close-icon" mat-dialog-close (click)="closeEditProfil()"></div>
  </div>
  <mat-dialog-content class="dialog-content">
    <div class="profil-img">
      <img  [src]="this.authService.currentUser?.photoURL">
    </div>
    @if(!editProfilOpen) {
    <div class="profil-name-container">
      <div>
        <h2> {{this.authService.currentUser?.name}}</h2>
        <span class="edit-user" (click)="editProfil()">Bearbeiten</span>
      </div>
      <h4>Aktiv</h4>
    </div>
    <div class="profil-email-container">
      <h4>E-Mail-Adresse</h4>
      <p>{{this.authService.currentUser?.email}}</p>
    </div>
    } @if(editProfilOpen) {
    <div class="edit-user-info-container">
      <div class="edit-user-name-icon">
        <label for="">Vollständiger Name</label>
      </div>
      <input type="text" name="" id="displayName" [(ngModel)]="displayName" />
      <div class="edit-user-email-icon">
        <label for="">E-Mail-Adresse</label>
      </div>
      <input type="text" name="" id="email" [(ngModel)]="email" />
    </div>
    }
  </mat-dialog-content>
  @if(editProfilOpen) {<mat-dialog-actions>
    <button class="btn-white" mat-dialog-close (click)="closeEditProfil()">
      Abbrechen</button
    ><button (click)="updateInfo()">Speichern</button> </mat-dialog-actions
  >}
</div>
