<mat-progress-bar *ngIf="isUploading" mode="indeterminate"></mat-progress-bar>
<div class="form">
    <div (click)="authService.toggleOwnPicture()" class="arrow_back"></div>
    <h1>Profilfoto</h1>
    <img width="120" height="120" [src]="croppedImage || authService.photoURL" />
    <div (click)="inputfield.click()" class="edit"></div>
    <input type="file" #inputfield hidden (change)="fileChangeEvent($event)">
    <button *ngIf="!(croppedImage == '')" (click)="upload()" class="primaryButton">Hochladen</button>
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1/1" format="png"
        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"></image-cropper>

</div>