<header (click)="test()">
  <div class="logo-container">
    <img src="assets/img/Logo_full.svg" alt="" />
  </div>
  <div class="input-container">
    <input type="text" /><img src="assets/img/icons/search.svg" alt="" />
  </div>
  <div class="user-menu">
    <h2 (click)="openUserMenuDialog()">
      {{ this.authService.currentUser?.name }}
    </h2>
    <img
      [src]="this.authService.currentUser?.photoURL"
      alt=""
      (click)="openUserMenuDialog()"
    />
    <div class="drop-down-icon" (click)="openUserMenuDialog()"></div>
  </div>
</header>

<div class="main-section">
  @if(workspaceOpen){
  <div class="menu-btn-container" (click)="toggleSideNav()">
    Workspace-Menü schließen
    <div class="menu-btn-cl"></div>
  </div>
  } @if(!workspaceOpen){
  <div class="menu-btn-container" (click)="toggleSideNav()">
    Workspace-Menü öffnen
    <div class="menu-btn-op"></div>
  </div>
  } @if(workspaceOpen) {
  <!-- Es muss noch ein Index als Parameter hinzugefügt werden! -->
  <app-workspace-menu
    (openNewChat)="openNewChat()"
    (openChannel)="openChanel()"
    (openPrivateChat)="openPrivateChat()"
  ></app-workspace-menu>
  } @if(!channelChatOpen && !privateChatOpen) {<app-new-msg-board
  ></app-new-msg-board>} @if(channelChatOpen) {
  <app-channel-board></app-channel-board>
  } @if(privateChatOpen) {
  <app-chat-board></app-chat-board>
  } @if(threadOpen && channelChatOpen &&
  this.channelService.selectedChannelChats.length > 0) {
  <app-thread-board></app-thread-board>
  }
</div>
