<header>
  <div class="logo-container">
    <img src="assets/img/Logo_full.svg" alt="" />
  </div>
  <div class="input-container">
    <input type="text" /><img src="assets/img/icons/search.svg" alt="" />
  </div>
  <div class="user-menu">
    <h2>Frederik Beck</h2>
    <img src="assets/img/Profile_bild.svg" alt="" />
    <div class="drop-down-icon"></div>
  </div>
</header>
<div class="main-section">
  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-workspace-menu></app-workspace-menu>
    </mat-drawer>
    <div class="example-sidenav-content workspace-menu-btn">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </mat-drawer-container> -->
  <div class="menu-btn-container" (click)="toggleSideNav()">
    Workspace-Menu schließen
  </div>
  <app-workspace-menu></app-workspace-menu>
  <app-chat-board></app-chat-board>
  @if(threadOpen) {<app-thread-board
    (closeThread)="closeThread()"
  ></app-thread-board
  >}
</div>
