    @import './../../../../styles.scss';
    @import './../../main-page.component.scss';

    .message-right {
        display: flex;
        align-items: start;
        justify-content: end;
        gap: 20px;
        padding: 32px 40px;
        position: relative;

        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }

            @media (max-width: 544px) {
                height: 50px;
                width: 50px;
            }
        }

        .message-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .user-name-time {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 20px;

            h5 {
                font-size: 18px;
                font-weight: 700;
                line-height: 24.55px;
                margin: 0;

                &:hover {
                    cursor: pointer;
                }
            }

            span {
                color: $cpt-font-gray;
            }
        }

        .user-msg {
            background-color: $cpt-purple-2;
            border-radius: 20px 0px 20px 20px;
            color: white;
            padding: 15px;

            &:hover {
                cursor: pointer;
            }
        }

        .reactions-container {
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;

            .add-reaction {
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('./../../../../assets/img/icons/add_reaction.svg');
                height: 36px;
                width: 36px;

                &:hover {
                    background-image: url('./../../../../assets/img/icons/add_reaction_pur.svg');
                    cursor: pointer;
                }
            }

            .reactions-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: end;
                gap: 10px;
            }

            .sgl-reaction-container {
                display: flex;
                gap: 10px;
                background-color: white;
                border-radius: 20px;
                border: 1px solid $cpt-line;
                height: 36px;
                padding: 5px 10px 5px 10px;
                position: relative;

                span {
                    @include font16(400);
                    line-height: 24px;
                }

                .emoji-info-container {
                    display: none;
                    background-color: $cpt-purple-1;
                    border-radius: 30px 30px 30px 0;
                    color: white;
                    min-width: 120px;
                    padding: 15px 10px 15px 10px;
                    position: absolute;
                    bottom: 35px;
                    left: 34px;
                    text-align: center;
                    z-index: 100;

                    span {
                        @include font16(400);
                    }

                    .react-user-name {
                        @include font18(700);
                    }
                }

                &:hover {
                    cursor: pointer;

                    .emoji-info-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }


        .answer-info-container {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 20px;

            p {
                color: $cpt-purple-3;
                width: 110px;
                text-align: center;

                &:hover {
                    cursor: pointer;
                    font-weight: 600;
                }
            }

            span {
                color: $cpt-font-gray;
            }
        }

        .add-reaction-container { 
            animation: transformIcon 250ms forwards;
            background-color: white;
            border: 1px solid $cpt-line;
            border-radius: 25px 25px 0 25px;
            display: flex;
            padding: 3px 13px;
            position: absolute;
            top: -10px;
            left: 20px;
            z-index: 10;
            
            .add-reaction, .edit-msg {
                background-repeat: no-repeat;
                background-position: center;
                width: 40px;
                height: 40px;
            }
            .add-reaction {
                background-image: url('./../../../../assets/img/icons/add_reaction.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/add_reaction_pur.svg');
                    cursor: pointer;
                }
            }

            .edit-msg {
                background-image: url('./../../../../assets/img/icons/option.svg');
                position: relative;
                
                &:hover {
                    background-image: url('./../../../../assets/img/icons/option_pur.svg');
                    
                    .edit-msg-btn {
                        display: block;
                    }
                }
                
                .edit-msg-btn {
                    display: none;
                    background-color: white;
                    border: none;
                    box-shadow: 0 0 14px 0 rgba(0,0,0, 0.2);
                    border-radius: 0 30px 30px 30px;
                    padding: 10px 20px;
                    position: absolute;
                    left: 30px;
                    top: 20px;
                    transition: all 725ms ease-in-out;
                    
                    .edit-msg-text {
                        @include font24(600);
                        border-radius: 100px;
                        padding: 10px 20px;
                        white-space: nowrap;
                        
                        &:hover {
                            background-color: $cpt-bg;
                            color: $cpt-purple-3;
                            cursor: pointer;
                        }
                    }
                    
                }
            }
        }

        &:hover {
            background-color: $cpt-bg;
        }

        @media (max-width: 544px) {
            padding: 10px 16px;
        }
    }


    @keyframes transformIcon {
        from {transform: translateX(-20px); opacity: 0;}
        to {transform: translateX(0px); opacity: 1;}
    }