<div
  class="message-right"
  (mouseenter)="onMouseOver('enter')"
  (mouseleave)="onMouseOver('leave')"
>
  <div>
    <div class="user-name-time">
      <span>{{ time }} Uhr</span>
      <h5 (click)="openShowProfilDialog()">{{ member }}</h5>
    </div>
    <div class="user-msg" (click)="onOpenThread(selectedChatIndex)">
      <p>{{ message }}</p>
    </div>
    @if(onChannelBoard && amountMessage !== 0) {
    <div class="answer-info-container">
      <p (click)="onOpenThread(selectedChatIndex)">
        {{ amountMessage }} Antworten
      </p>
      <span>Letzte Antwort {{ timeLastMessage }}</span>
    </div>
    }
  </div>
  <div><img [src]="memberImg" alt="" (click)="openShowProfilDialog()" /></div>
  @if (containerHovered) {
  <div class="add-reaction-container">
    <div
      class="add-reaction"
      [matMenuTriggerFor]="aboveMenu"
      #aboveMenuTrigger="matMenuTrigger"
    ></div>
    <div class="edit-msg"></div>
  </div>
  }
  <mat-menu #aboveMenu="matMenu" yPosition="above" xPosition="before">
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      emoji="point_up"
      [enableSearch]="false"
    ></emoji-mart>
  </mat-menu>
</div>
