    @import './../../../../styles.scss';

    .message-right {
        display: flex;
        align-items: start;
        justify-content: end;
        gap: 20px;
        padding: 32px 40px;
        position: relative;

        img {
            width: 70px;
            height: 70px;
        }

        .user-name-time {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 20px;
            margin-bottom: 8px;

            h5 {
                font-size: 18px;
                font-weight: 700;
                line-height: 24.55px;
                margin: 0;
            }

            span {
                color: $cpt-font-gray;
            }
        }

        .user-msg {
            background-color: $cpt-purple-2;
            border-radius: 20px 0px 20px 20px;
            color: white;
            padding: 15px;
        }

        .add-reaction-container { 
            position: absolute;
            top: -10px;
            left: 20px;
            z-index: 10;
        }

        &:hover {
            background-color: $cpt-bg;
        }
    }