<div
  class="message-right"
  (mouseenter)="onMouseOver('enter')"
  (mouseleave)="onMouseOver('leave')"
>
  @if(!editMessageState) {
  <div class="message-container">
    <div class="user-name-time">
      <span>{{ time }} Uhr</span>
      <h5 (click)="openShowProfilDialog()">{{ member }}</h5>
    </div>
    <div
      class="user-msg"
      (click)="setChatIndex(selectedChatIndex); onOpenThread()"
    >
      @if(uploadedFile.length > 0) {
      <a href="{{ uploadedFile[1] }}" target="_blank">{{ uploadedFile[0] }}</a>
      }
      <p>{{ message }}</p>
    </div>

    <!-- reactions under msg -->
    @if(sortedReactions.length > 0) {
    <div class="reactions-container">
      <div
        class="add-reaction"
        (click)="setChatIndex(selectedChatIndex)"
        [matMenuTriggerFor]="aboveMenu"
      ></div>
      <div class="reactions-list">
        @for(emojiObj of sortedReactions; track emojiObj) {
        <div
          class="sgl-reaction-container"
          (click)="
            setChatIndex(selectedChatIndex);
            addOrRemoveEmoji(emojiObj.reactEmoji)
          "
        >
          <div class="emoji-info-container">
            <ngx-emoji emoji="{{ emojiObj.reactEmoji }}"></ngx-emoji>
            @for(user of emojiObj.reactUser; track user) { @if(user ===
            this.authService.uid && emojiObj.reactUser.length === 1) {
            <span class="react-user-name">Du</span>
            <span>hast reagiert</span>
            } @else if(user === this.authService.uid) {
            <span class="react-user-name">Du</span>
            } @else {
            <span class="react-user-name">{{
              this.userService.users[this.userService.getUsersData(user)].name
            }}</span>
            }
            <!-- @if(emojiObj.reactUser.length === 2) {
            <span class="react-user-name">und</span>
            } @else if(emojiObj.reactUser.length > 2) {
            <span class="react-user-name">, </span>
            }  -->
            } @if(emojiObj.reactUser.length === 1 && emojiObj.reactUser[0] !==
            this.authService.uid) {
            <span>hat reagiert</span>
            } @else if(emojiObj.reactUser.length > 1) {
            <span>haben reagiert</span>
            }
          </div>
          <ngx-emoji emoji="{{ emojiObj.reactEmoji }}"></ngx-emoji>
          <span>{{ emojiObj.reactUser.length }}</span>
        </div>
        }
      </div>
    </div>
    }

    <!-- Channel Board chat answer infos -->
    @if(onChannelBoard && amountMessage !== 0) {
    <div class="answer-info-container">
      <p (click)="setChatIndex(selectedChatIndex); onOpenThread()">
        {{ amountMessage }} Antworten
      </p>
      <span>Letzte Antwort {{ timeLastMessage }}</span>
    </div>
    }
  </div>
  } @else if(editMessageState) {
  <app-edit-msg-textarea
    [messageIndex]="messageIndex"
    [message]="message"
    [onChannelBoard]="onChannelBoard"
    [onPrivateChat]="onPrivateChat"
    [onThreadBoard]="onThreadBoard"
    [uploadedFile]="uploadedFile"
    (closeEditMsg)="closeEditMessage($event)"
  ></app-edit-msg-textarea>
  }
  <div><img [src]="memberImg" alt="" (click)="openShowProfilDialog()" /></div>

  <!-- Message Container Hoverd + Dialog -->
  @if (containerHovered && editMessageState === false) {
  <div class="add-reaction-container">
    <div
      (click)="setChatIndex(selectedChatIndex)"
      class="add-reaction"
      [matMenuTriggerFor]="aboveMenu"
      #aboveMenuTrigger="matMenuTrigger"
    ></div>
    <div class="edit-msg">
      <div class="edit-msg-btn">
        <div
          class="edit-msg-text"
          (click)="setChatIndex(selectedChatIndex); editMessage()"
        >
          Nachricht bearbeiten
        </div>
      </div>
    </div>
  </div>
  }
  <mat-menu #aboveMenu="matMenu" yPosition="above" xPosition="before">
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      emoji="point_up"
      [enableSearch]="false"
    ></emoji-mart>
  </mat-menu>
</div>
