    @import './../../../../styles.scss';
    @import './../../main-page.component.scss';

    .message-right {
        display: flex;
        align-items: start;
        justify-content: end;
        gap: 20px;
        padding: 32px 40px;
        position: relative;

        img {
            width: 70px;
            height: 70px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }
        }

        .user-name-time {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 20px;
            margin-bottom: 8px;

            h5 {
                font-size: 18px;
                font-weight: 700;
                line-height: 24.55px;
                margin: 0;

                &:hover {
                    cursor: pointer;
                }
            }

            span {
                color: $cpt-font-gray;
            }
        }

        .user-msg {
            background-color: $cpt-purple-2;
            border-radius: 20px 0px 20px 20px;
            color: white;
            padding: 15px;
        }

        .add-reaction-container { 
            animation: transformIcon 250ms forwards;
            background-color: white;
            border: 1px solid $cpt-line;
            border-radius: 25px 25px 0 25px;
            display: flex;
            padding: 3px 13px;
            position: absolute;
            top: -10px;
            left: 20px;
            z-index: 10;
            
            .add-reaction, .edit-msg {
                background-repeat: no-repeat;
                background-position: center;
                width: 40px;
                height: 40px;
            }
            .add-reaction {
                background-image: url('./../../../../assets/img/icons/add_reaction.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/add_reaction_pur.svg');

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .edit-msg {
                background-image: url('./../../../../assets/img/icons/option.svg');

                &:hover {
                    background-image: url('./../../../../assets/img/icons/option_pur.svg');
                }
            }
        }

        &:hover {
            background-color: $cpt-bg;
        }
    }

    @keyframes transformIcon {
        from {transform: translateX(-20px); opacity: 0;}
        to {transform: translateX(0px); opacity: 1;}
    }