<div
  class="message-right"
  (mouseenter)="onMouseOver('enter')"
  (mouseleave)="onMouseOver('leave')"
>
  <div class="message-container">
    <div class="user-name-time">
      <span>{{ time }} Uhr</span>
      <h5 (click)="openShowProfilDialog()">{{ member }}</h5>
    </div>
    <div class="user-msg" (click)="onOpenThread(selectedChatIndex)">
      <p>{{ message }}</p>
    </div>
    @if(sortedReactions.length > 0) {
    <div class="reactions-container">
      <div class="add-reaction" [matMenuTriggerFor]="aboveMenu"></div>
      <div class="reactions-list">
        @for(emojiObj of sortedReactions; track emojiObj) {
        <div
          class="sgl-reaction-container"
          (click)="addOrRemoveEmoji(emojiObj.reactEmoji)"
        >
          <ngx-emoji emoji="{{ emojiObj.reactEmoji }}"></ngx-emoji>
          <span>{{ emojiObj.reactUser.length }}</span>
        </div>
        <!-- @if(reactEmojiHoverd) {
        <div class="emoji-info-container">
          <ngx-emoji emoji="{{ emojiObj.reactEmoji }}"></ngx-emoji>
          @for(user of emojiObj.reactUser; track user) {
          <div>{{ user }}</div>
          }
          <span>hat reagiert</span>
        </div>
        }  -->
        }
      </div>
    </div>
    } @if(onChannelBoard && amountMessage !== 0) {
    <div class="answer-info-container">
      <p (click)="onOpenThread(selectedChatIndex)">
        {{ amountMessage }} Antworten
      </p>
      <span>Letzte Antwort {{ timeLastMessage }}</span>
    </div>
    }
  </div>
  <div><img [src]="memberImg" alt="" (click)="openShowProfilDialog()" /></div>
  @if (containerHovered) {
  <div class="add-reaction-container">
    <div
      (click)="onOpenThread(selectedChatIndex)"
      class="add-reaction"
      [matMenuTriggerFor]="aboveMenu"
      #aboveMenuTrigger="matMenuTrigger"
    ></div>
    <div class="edit-msg"></div>
  </div>
  }
  <mat-menu #aboveMenu="matMenu" yPosition="above" xPosition="before">
    <emoji-mart
      (emojiClick)="addEmoji($event)"
      emoji="point_up"
      [enableSearch]="false"
    ></emoji-mart>
  </mat-menu>
</div>

<!-- (mouseenter)="overReactEmoji('enter')"
          (mouseleave)="overReactEmoji('leave')" -->
