<div class="title-container">
  <div class="title-channel-chat" (click)="openEditChannelDialog()">
    <h3
      *ngIf="this.channelService.channels[this.channelService.selectedChannel]"
    >
      {{
        this.channelService.channels[this.channelService.selectedChannel].name
      }}
    </h3>
    <div class="drop-down-icon"></div>
  </div>
  <div id="dialog-wrapper" class="channel-user-container">
    <div
      class="user-avatar-container"
      (click)="openChannelMembersDialog('dialog-all-members')"
    >
      <div>
        @if(this.channelService.channels[this.channelService.selectedChannel]) {
        @for (member of
        this.channelService.channels[this.channelService.selectedChannel].members
        | slice:0:3; track $index) {
        <img
          *ngIf="
            this.userService.users &&
            this.userService.users[this.userService.getUsersData(member)]
          "
          [src]="
            this.userService.users[this.userService.getUsersData(member)]
              .photoURL
          "
          alt=""
        />
        }}
      </div>
      <h4
        *ngIf="
          this.channelService.channels[this.channelService.selectedChannel]
        "
      >
        {{
          this.channelService.channels[this.channelService.selectedChannel]
            .members.length
        }}
      </h4>
    </div>
    <dialog class="dialog-window" id="dialog-all-members">
      <div class="dialog-content">
        <div class="dialog-title">
          <h3>Mitglieder</h3>
          <div
            class="close-icon"
            (click)="closeDialog('dialog-all-members')"
          ></div>
        </div>
        <div
          *ngIf="
            this.channelService.channels[this.channelService.selectedChannel]
          "
          class="channel-members-list"
        >
          @for (member of
          this.channelService.channels[this.channelService.selectedChannel].members;
          track member[0]; let index = $index) {
          <app-workspace-user-profil
            *ngIf="
              this.userService.users[this.userService.getUsersData(member)]
            "
            [userName]="
              this.userService.users[this.userService.getUsersData(member)].name
            "
            [userImage]="
              this.userService.users[this.userService.getUsersData(member)]
                .photoURL
            "
            [userId]="member"
            (click)="closeDialog('dialog-all-members')"
          ></app-workspace-user-profil>
          }
        </div>
        <div
          class="add-user-container"
          (click)="
            closeDialog('dialog-all-members');
            openChannelMembersDialog('dialog-add-members')
          "
        >
          <div class="add-user"></div>
          <p>Mitglieder hinzufügen</p>
        </div>
      </div>
    </dialog>
    <div
      class="add-user"
      (click)="openChannelMembersDialog('dialog-add-members')"
    ></div>
    <dialog class="dialog-window" id="dialog-add-members">
      <div class="dialog-content">
        <div class="dialog-title">
          <h3>Leute hinzufügen</h3>
          <div
            class="close-icon"
            (click)="closeDialog('dialog-add-members')"
          ></div>
        </div>
        <p
          class="channel-sub-title"
          *ngIf="
            this.channelService.channels[this.channelService.selectedChannel]
          "
        >
          {{
            this.channelService.channels[this.channelService.selectedChannel]
              .name
          }}
        </p>
        <app-search-member-input></app-search-member-input>
        <div class="dis-flx-just-end">
          <button (click)="addMembersToChannel()">Hinzufügen</button>
        </div>
      </div>
    </dialog>
  </div>
</div>

<div class="hr-line" (click)="scrollToBottom()"></div>

<div class="chat-field" #channelChatsContainer>
  @if(this.channelService.selectedChannelChats[0]) { @for(chat of
  this.channelService.selectedChannelChats; track index; let index = $index; let
  last = $last) {
  <!-- Date logic -->
  @if(chat.chatId === this.channelService.selectedChannelChats[0].chatId ||
  this.channelService.getDate(this.channelService.selectedChannelChats[index -
  1].timestamp) !== this.channelService.getDate(chat.timestamp)) {
  @if(this.channelService.isToday(chat.timestamp)) {
  <app-time-separator [forDate]="'Heute'"></app-time-separator>
  } @else {
  <app-time-separator
    [forDate]="this.channelService.getDate(chat.timestamp)"
  ></app-time-separator>
  }}
  <!-- message left or right logic -->
  @if(chat.allMessages[0] && chat.allMessages[0].member &&
  chat.allMessages[0].member !== this.authService.uid) {
  <app-message-left
    [onChannelBoard]="channelBoard"
    [member]="
      this.userService.users[
        this.userService.getUsersData(chat.allMessages[0].member)
      ].name
    "
    [message]="chat.allMessages[0].message"
    [memberImg]="
      this.userService.users[
        this.userService.getUsersData(chat.allMessages[0].member)
      ].photoURL
    "
    [amountMessage]="chat.allMessages.length - 1"
    [selectedChatIndex]="index"
    [memberRef]="chat.allMessages[0].member"
    [time]="this.channelService.getTime(chat.allMessages[0].timestamp)"
    [timeLastMessage]="
      this.channelService.getTime(
        chat.allMessages[chat.allMessages.length - 1].timestamp
      )
    "
    [sortedReactions]="
      this.channelService.sortSameReactions(chat.allMessages[0].reactions)
    "
    [uploadedFile]="chat.allMessages[0].uploadedFile"
  ></app-message-left>
  } @else if(chat.allMessages[0] && chat.allMessages[0].member) {
  <app-message-right
    [onChannelBoard]="channelBoard"
    [member]="
      this.userService.users[
        this.userService.getUsersData(chat.allMessages[0].member)
      ].name
    "
    [message]="chat.allMessages[0].message"
    [memberImg]="
      this.userService.users[
        this.userService.getUsersData(chat.allMessages[0].member)
      ].photoURL
    "
    [amountMessage]="chat.allMessages.length - 1"
    [selectedChatIndex]="index"
    [memberRef]="chat.allMessages[0].member"
    [time]="this.channelService.getTime(chat.allMessages[0].timestamp)"
    [timeLastMessage]="
      this.channelService.getTime(
        chat.allMessages[chat.allMessages.length - 1].timestamp
      )
    "
    [sortedReactions]="
      this.channelService.sortSameReactions(chat.allMessages[0].reactions)
    "
    [uploadedFile]="chat.allMessages[0].uploadedFile"
  ></app-message-right>
  }
  <!-- <ng-container (lastElementLoaded)="(last)"></ng-container> -->
  <!-- @if(last) {
  {{ scrollToBottom() }}
  }  -->
  <!-- @if(last? scrollToBottom() : "" ) {} -->
  <!-- {{ last ? scrollToBottom() : "" }} -->
  }} @else if(this.channelService.selectedChannelChats.length === 0) {
  <div class="empty-channel-info">
    <h3
      *ngIf="this.channelService.channels[this.channelService.selectedChannel]"
      class="title-channel-field"
    >
      {{
        this.channelService.channels[this.channelService.selectedChannel].name
      }}
    </h3>
    <p>
      Dieser Channel wurde neu erstellt. Das ist der Anfang des Channels
      <span
        *ngIf="
          this.channelService.channels[this.channelService.selectedChannel]
        "
      >
        {{
          this.channelService.channels[this.channelService.selectedChannel].name
        }}</span
      >.
    </p>
  </div>
  }
</div>
<app-textarea-main-page
  [onChannelBoard]="channelBoard"
  [textfieldOnUploadChannel]="textfieldOnUpload"
  (TextfieldStatus)="setTextfieldStatus($event)"
></app-textarea-main-page>
