<div class="title-container">
  <div class="title-channel-chat">
    <h3>Entwicklerteam</h3>
    <div class="drop-down-icon"></div>
  </div>
  <div class="channel-user-container">
    <div class="user-avatar-container">
      <div>
        <img src="assets/img/profils/avatar_3_40.svg" alt="" /><img
          src="assets/img/profils/avatar_3_40.svg"
          alt=""
        /><img src="assets/img/profils/avatar_3_40.svg" alt="" />
      </div>
      <h4>3</h4>
    </div>
    <div class="add-user"></div>
  </div>
</div>
<div class="hr-line"></div>
<div class="chat-field">
  <!-- evtl aus thread-sep-container eine Komponente machen -->
  <div class="thread-sep-container">
    <div class="thread-sep-line"></div>
    <p class="thread-sep-time">Dienstag, 14 Januar</p>
    <div class="thread-sep-line"></div>
  </div>
  <app-message-left [onChannelBoard]="channelBoard"></app-message-left>
  <app-message-left [onChannelBoard]="channelBoard"></app-message-left>
</div>
<app-textarea-main-page></app-textarea-main-page>
