@import './../../../styles.scss';
@import './../main-page.component.scss';


.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 40px;
    // padding: 25px 45px; eigentlich anderes Padding als Threads

    .title-channel-chat {
        display: flex;
        align-items: center;
        gap: 10px;
        background-image: url('./../../../assets/img/icons/tag_big.svg');
        background-repeat: no-repeat;
        background-position: 12px 50%;
        border-radius: 100px;
        height: 45px;  
        padding-left: 52px;
        padding-right: 10px;

        &:hover {
            background-color: $cpt-bg;
            background-image: url('./../../../assets/img/icons/tag_big_pur.svg');
            color: $cpt-purple-3;
            cursor: pointer;
            .drop-down-icon {
                background-image: url('./../../../assets/img/icons/keyboard_arrow_down_pur.svg');
            }
        }
    }

    .channel-user-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .user-avatar-container {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 3px 10px;
            border-radius: 30px;

            div {
                display: flex;
                align-items: center;
                img {
                    border: 2px solid white;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    margin-left: -10px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            
            h4 {
                font-weight: 600;
            }

            &:hover {
                background-color: $cpt-bg;
                cursor: pointer;
                h4 {
                    color: $cpt-purple-3;
                }
            }
        }

        .add-user {
            background-image: url('./../../../assets/img/icons/add_members_btn.svg');
            background-repeat: no-repeat;
            background-position: center;
            height: 32px;
            width: 32px;

            &:hover {
                background-image: url('./../../../assets/img/icons/add_members_btn_hov.svg');
                cursor: pointer;
            }
        }
    }
}


.chat-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    // justify-content: end;
    padding: 12px 0 0 0;
    overflow-y: scroll;

    // &:first-child {
    //     margin-top: auto !important;
    // }
    // noch nicht beste Lösung!
}


.dialog-window {
    border-radius: 30px 0px 30px 30px;
    border: none;
    outline: none;
    overflow: visible;

    .dialog-content {
        gap: 20px;
        width: 514px;

        .channel-members-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-height: 200px;
            overflow-y: scroll;
        }
    }

    .add-user-container {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 12px 29px;
    
        &:hover {
            background-color: $cpt-bg;
            border-radius: 100px;
            color: $cpt-purple-3;
            cursor: pointer;
            .add-user {
                background-image: url('./../../../assets/img/icons/add_members_btn_hov.svg');
            }
        }
    }

}

.channel-sub-title {
        background-image: url(./../../../assets/img/icons/tag_pur_24.svg);
        background-position: 0px 50%;
        background-repeat: no-repeat;
        color: $cpt-purple-2;
        padding: 0 0 0 39px;
}

input {
    border: 1px solid $cpt-line;
    border-radius: 30px;
    padding: 15px 20px;
    width: 100%;
    outline: none;
}

button {
     background-color: $cpt-purple-1;
     border: none;
     border-radius: 25px;
     color: white;
     @include font18(700);
     padding: 12px 25px;
     outline: none;

     &:hover {
         background-color: $cpt-purple-2;
     }
}

.dis-flx-just-end {
    display: flex;
    justify-content: end;
}