<div class="title-container">
  <div>
    <img src="assets/img/Workspace-logo.svg" alt="" />
    <h3>Devspace</h3>
  </div>
  <div class="edit-icon" (click)="onOpenNewChat()"></div>
</div>

<app-search-input></app-search-input>

<!-- Channels -->
<div class="workspace-content">
  <div class="channel-head-container">
    <div (click)="toggleChannelList()" class="workspace-subtitle-container">
      <div
        [class.transform-icon]="!channelListOpen"
        class="drop-down-icon"
      ></div>
      <div class="workspace-subtitle workspace-subtitle-icon-ch">
        <h4>Channels</h4>
      </div>
    </div>
    <div class="channel-add-icon" (click)="openAddChannelDialog()"></div>
  </div>

  @if(channelListOpen) {
  <div class="channels-list">
    @for (channel of channelService.channels; track channel.id; let index =
    $index) {
    <div class="channel" (click)="onOpenChannel(index, channel.id)">
      <h5>{{ channel.name }}</h5>
    </div>
    }
    <div class="add-channel" (click)="openAddChannelDialog()">
      <h5>Channel hinzufügen</h5>
    </div>
  </div>
  }

  <!-- Private Chats -->
  <div (click)="toggleMessageList()" class="workspace-subtitle-container">
    <div [class.transform-icon]="!messageListOpen" class="drop-down-icon"></div>
    <div class="workspace-subtitle workspace-subtitle-icon-mes">
      <h4>Direktnachrichten</h4>
    </div>
  </div>

  @if(messageListOpen && chatService.privateChats) {

  <div class="message-list">
    <!-- @for (chat of this.chats; track index; let index = $index) {
    <app-workspace-user-profil
      [userName]="chat.name"
      [userImage]="chat.photoURL"
      [ownChat]="chat.ownChat"
      (click)="onOpenPrivateChat(chat)"
    >
    </app-workspace-user-profil>
    } -->
    @for (chat of chatService.privateChats; track chat.chatId; let index =
    $index) { @if(chat.members.length === 2) {
    <app-workspace-user-profil
      [userName]="
        this.usersService.users[
          this.usersService.getUsersData(
            this.usersService.getPartnerId(chat.members)
          )
        ].name
      "
      [userImage]="
        this.usersService.users[
          this.usersService.getUsersData(
            this.usersService.getPartnerId(chat.members)
          )
        ].photoURL
      "
      [userId]="this.usersService.getPartnerId(chat.members)"
      [onWorkspace]="true"
      (click)="onOpenPrivateChat(chat, index)"
    ></app-workspace-user-profil
    >} @else if(chat.members.length === 1) {
    <app-workspace-user-profil
      [userName]="
        this.usersService.users[this.usersService.getUsersData(chat.members[0])]
          .name + ' (Du)'
      "
      [userImage]="
        this.usersService.users[this.usersService.getUsersData(chat.members[0])]
          .photoURL
      "
      [userId]="chat.members[0]"
      [onWorkspace]="true"
      (click)="onOpenPrivateChat(chat, index)"
    ></app-workspace-user-profil>
    } }
  </div>
  }
</div>

<!-- New Chat Icon for mobile use -->
<div class="new-chat-icon" (click)="onOpenNewChat()">
  <img src="./../../../assets/img/icons/edit_round_blue.svg" alt="" />
</div>
