@import './../../../styles.scss';
@import './../main-page.component.scss';

// Workspace Menu header 
.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    div {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .edit-icon {
        width: 40px;
        height: 40px;
        background-image: url('./../../../assets/img/icons/edit_square.svg');
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
            background-image: url('./../../../assets/img/icons/edit_square_pur.svg');
            cursor: pointer;
        }
    }
}

.workspace-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
}

.channel-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .channel-add-icon {
        background-image: url('./../../../assets/img/icons/add_big.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;

        &:hover {
            cursor: pointer;
            background-image: url('./../../../assets/img/icons/add_pur_hov.svg');
        }
    }
}

.workspace-subtitle-container {
    display: flex;
    align-items: center;
    gap: 15px;
    .drop-down-icon {
        background-image: url('./../../../assets/img/icons/arrow_drop_down.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
    }

    .workspace-subtitle {
        background-position: 0% 50%;
        background-repeat: no-repeat;
        padding: 0 0 0 34px;
    }

    .workspace-subtitle-icon-ch {
        background-image: url('./../../../assets/img/icons/workspaces.svg');
    }
    .workspace-subtitle-icon-mes {
        background-image: url('./../../../assets/img/icons/account_circle.svg');
    }

    &:hover {
        cursor: pointer;
        color: $cpt-purple-3;
        .drop-down-icon {
            background-image: url('./../../../assets/img/icons/arrow_drop_down_pur.svg');
            // transform: rotate(90deg); // bei click und nicht nur bei hover
        }
        .workspace-subtitle-icon-ch {
            background-image: url('./../../../assets/img/icons/workspaces_pur.svg');
        }
        .workspace-subtitle-icon-mes {
            background-image: url('./../../../assets/img/icons/account_circle_pur.svg');
        }
    }
}


.channels-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 0 30px;

    .add-channel, .channel {
        background-repeat: no-repeat;

        h5 {
            font-weight: 400;
        }

        &:hover {
            color: $cpt-purple-3;
            cursor: pointer;
        }
    }

    .channel {
        display: flex;
        align-items: center;
        background-image: url('./../../../assets/img/icons/tag.svg');
        background-position: 15px 50%;
        height: 33px;
        padding: 0 0 0 49px;
        
        &:hover {
            background-image: url('./../../../assets/img/icons/tag_pur.svg');
            border-radius: 20px;
            background-color: $cpt-bg;
        }
    }

    .add-channel {
        background-image: url('./../../../assets/img/icons/add_circle.svg');
        background-position: 0% 50%;
        padding: 0 0 0 34px;
        margin-left: 15px;
        margin-top: 12px;
        
        &:hover {
            background-image: url('./../../../assets/img/icons/add_circle_pur.svg');
        }
    }
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 0 30px;
}


.transform-icon {
    transform: rotate(270deg);
}
