<div class="title-container">
  <div>
    <img src="assets/img/Workspace-logo.svg" alt="" />
    <h3>Devspace</h3>
  </div>
  <div class="edit-icon" (click)="onOpenNewChat()"></div>
</div>

<!-- Channels -->
<div class="workspace-content">
  <div class="channel-head-container">
    <div (click)="toggleChannelList()" class="workspace-subtitle-container">
      <div
        [class.transform-icon]="!channelListOpen"
        class="drop-down-icon"
      ></div>
      <div class="workspace-subtitle workspace-subtitle-icon-ch">
        <h4>Channels</h4>
      </div>
    </div>
    <div class="channel-add-icon" (click)="openAddChannelDialog()"></div>
  </div>

  @if(channelListOpen) {
  <div class="channels-list">
    <!-- Hier alle channels über eine for Schleife rendern und index vergeben! -->
    @for (channel of channelService.channels; track channel.id; let index =
    $index) {
    <div class="channel" (click)="onOpenChannel(index)">
      <h5>{{ channel.name }}</h5>
    </div>
    }
    <div class="add-channel" (click)="openAddChannelDialog()">
      <h5>Channel hinzufügen</h5>
    </div>
  </div>
  }

  <!-- Direktnachrichten -->
  <div (click)="toggleMessageList()" class="workspace-subtitle-container">
    <div [class.transform-icon]="!messageListOpen" class="drop-down-icon"></div>
    <div class="workspace-subtitle workspace-subtitle-icon-mes">
      <h4>Direktnachrichten</h4>
    </div>
  </div>

  @if(messageListOpen) {
  <div class="message-list">
    <!-- Noch mal prüfen, was sinnvoller ist. Index oder user.id? -->
    @for (message of this.messagesWithUsernames; track index; let index =
    $index) {
    <app-workspace-user-profil
      [userName]="message.username"
      [userImage]="message.photoURL"
      (click)="onOpenPrivateChat(index)"
    ></app-workspace-user-profil
    >}
  </div>
  }

  <!-- Struktur noch mal anpassen + Overflow: scroll -->
</div>
