<div class="title-container">
  <div>
    <img src="assets/img/Workspace-logo.svg" alt="" />
    <h3>Devspace</h3>
  </div>
  <div class="edit-icon"></div>
</div>

<!-- Channels -->
<div class="workspace-content">
  <div class="channel-head-container">
    <div (click)="toggleChannelList()" class="workspace-subtitle-container">
      <div
        [class.transfrom-icon]="!channelListOpen"
        class="drop-down-icon"
      ></div>
      <div class="workspace-subtitle workspace-subtitle-icon-ch">
        <h4>Channels</h4>
      </div>
    </div>
    <div class="channel-add-icon"></div>
  </div>

  @if(channelListOpen) {
  <div class="channels-list">
    <!-- Hier alle channels über eine for Schleife rendern (und index vergeben) -->
    <div class="channel"><h5>Entwicklerteam</h5></div>
    <div class="channel"><h5>Office-team</h5></div>
    <div class="add-channel">
      <h5>Channel hinzufügen</h5>
    </div>
  </div>
  }

  <!-- Direktnachrichten -->
  <div (click)="toggleMessageList()" class="workspace-subtitle-container">
    <div [class.transfrom-icon]="!messageListOpen" class="drop-down-icon"></div>
    <div class="workspace-subtitle workspace-subtitle-icon-mes">
      <h4>Direktnachrichten</h4>
    </div>
  </div>

  @if(messageListOpen) {
  <div class="message-list">
    <!-- Hier alle user über eine for Schleife rendern (und index vergeben) -->
    <app-workspace-user-profil></app-workspace-user-profil>
    <app-workspace-user-profil></app-workspace-user-profil>
    <app-workspace-user-profil></app-workspace-user-profil>
    <app-workspace-user-profil></app-workspace-user-profil>
    <app-workspace-user-profil></app-workspace-user-profil>
    <app-workspace-user-profil></app-workspace-user-profil>
  </div>
  }
</div>

<!-- Struktur noch mal anpassen + Overflow: scroll -->
