@import './../../main-page.component.scss';
@import './../../../../styles.scss';


.dialog-content {
    gap: 20px;
    min-width: 872px;

    mat-dialog-content {

        label {
            @include font18(700);
            color: black;

            span {
                color: $cpt-font-gray;
            }
        }

        input {
            border: 1px solid $cpt-line;
            border-radius: 40px;
            outline: none;
            padding: 20px;
            @include font18(400);

            &:hover {
                border: 1px solid $cpt-purple-1;
            }
            &:focus {
                border: 1px solid $cpt-purple-1;
            }
        }

        .input-name-container {
            position: relative;
            width: 100%;

            input {
                width: 100%;
            }

            .input-hint {
                position: absolute;
                left: 32px;
                bottom: 56px;
                background-color: white;
                padding-left: 4px;
                padding-right: 4px;
                color: $cpt-error;
            }
        }


        .add-members {
            @include font18(400);
            padding-left: 24px;
        }
    }
}