<div class="dialog-content">
  <div class="dialog-title">
    <h3>Profil</h3>
    <div class="close-icon" mat-dialog-close></div>
  </div>
  <mat-dialog-content class="dialog-content">
    <div class="profil-img">
      <img [src]="data.profilImg" alt="" />
    </div>
    <div class="profil-name-container">
      <h2>{{ data.profilName }}</h2>
    </div>
    <div class="profil-email-container">
      <h4>E-Mail-Adresse</h4>
      <p>{{ data.profilEmail }}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="startPrivateChat()" mat-dialog-close>Nachricht</button>
  </mat-dialog-actions>
</div>
