@import './../../../../styles.scss';
@import './../../main-page.component.scss';


.dialog-content {
    gap: 40px;

    mat-dialog-content {
        width: 420px;

        .profil-img {
            display: flex;
            justify-content: center;
            width: 200px;
            height: 200px;
            position: relative;
            align-self: center;
            img {
                border-radius: 50%;
                width: 200px;
                height: 200px;

                @media (max-width: 432px) {
                    width: 160px;
                    height: 160px;
                }
            }
        }

        .profil-name-container, .profil-email-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .profil-name-container {
            h2 {
                @include font32(700);
                color: black;
                overflow-wrap: break-word;

                @media (max-width: 432px) {
                    @include font24(700);
                }
            }
            h4 {
                color: $cpt-green;
                @include font20(400);
            }
        }

        .profil-email-container {
            h4, p {
                padding-left: 50px;

                @media (max-width: 432px) {
                    padding-left: 32px;
                }
            }
            h4 {
                color: black;
                background-image: url('./../../../../assets/img/icons/mail_black.svg');
                background-repeat: no-repeat;
                background-position: 0 50%;

                @media (max-width: 432px) {
                    @include font18(700);
                }
            }
            p {
                color: $cpt-blue;
            }
        }

        .edit{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            background-image: url(./../../../../assets/img/icons/edit_white.svg);
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0px;
            right: 0px;
            background-color: $cpt-purple-1;
            cursor: pointer;
            &:hover {
                background-color: $cpt-purple-3
            }
            
            &:active {
                background-color: $cpt-purple-1;
            }
            }

        @media (max-width: 792px) {
            width: 356px;;
        }

        @media (max-width: 544px) {
            width: 338px;
        }

        @media (max-width: 432px) {
            max-width: 300px;
        }
    }
}

