<div
  class="message-left"
  (mouseenter)="onMouseOver()"
  (mouseleave)="onMouseOver()"
>
  <div>
    <img [src]="memberImg" alt="" (click)="openShowProfilDialog()" />
  </div>
  <div>
    <div class="user-name-time">
      <h5 (click)="openShowProfilDialog()">{{ member }}</h5>
      <span>14:25 Uhr</span>
    </div>
    <div class="user-msg" (click)="onOpenThread(selectedChatIndex)">
      <p>{{ message }}</p>
    </div>
    @if(onChannelBoard && amountMessage !== 0) {
    <div class="answer-info-container">
      <p (click)="onOpenThread(selectedChatIndex)">
        {{ amountMessage }} Antworten
      </p>
      <span>Letzte Antwort 14:56</span>
    </div>
    } @if (containerHovered) {
    <div class="add-reaction-container"></div>
    }
  </div>
</div>
