<div
  class="message-left"
  (mouseenter)="onMouseOver('enter')"
  (mouseleave)="onMouseOver('leave')"
>
  <div>
    <img [src]="memberImg" alt="" (click)="openShowProfilDialog()" />
  </div>
  <div>
    <div class="user-name-time">
      <h5 (click)="openShowProfilDialog()">{{ member }}</h5>
      <span>{{ time }} Uhr</span>
    </div>
    <div class="user-msg" (click)="onOpenThread(selectedChatIndex)">
      <p>{{ message }}</p>
    </div>
    @if(onChannelBoard && amountMessage !== 0) {
    <div class="answer-info-container">
      <p (click)="onOpenThread(selectedChatIndex)">
        {{ amountMessage }} Antworten
      </p>
      <span>Letzte Antwort {{ timeLastMessage }}</span>
    </div>
    } @if (containerHovered) {
    <div
      class="add-reaction-container"
      [matMenuTriggerFor]="aboveMenu"
      #aboveMenuTrigger="matMenuTrigger"
    ></div>
    }
    <mat-menu #aboveMenu="matMenu" yPosition="above" xPosition="before">
      <emoji-mart
        (emojiClick)="addEmoji($event)"
        emoji="point_up"
        [enableSearch]="false"
      ></emoji-mart>
    </mat-menu>
  </div>
</div>
