<div
  class="message-left"
  (mouseenter)="onMouseOver()"
  (mouseleave)="onMouseOver()"
>
  <div>
    <img
      src="assets/img/profils/avatar_2.svg"
      alt=""
      (click)="openShowProfilDialog()"
    />
  </div>
  <div>
    <div class="user-name-time">
      <h5 (click)="openShowProfilDialog()">{{ member }}</h5>
      <span>14:25 Uhr</span>
    </div>
    <div class="user-msg">
      <p>Welche Version ist aktuell von Angular?</p>
    </div>
    @if(onChannelBoard) {
    <div class="answer-info-container">
      <p (click)="onOpenThread()">2 Antworten</p>
      <span>Letzte Antwort 14:56</span>
    </div>
    } @if (containerHovered) {
    <div class="add-reaction-container"></div>
    }
  </div>
</div>
